[Unit]
Description=Gateway Pi Service
After=multi-user.target

[Service]
User=tufao
Type=idle
Restart=always
WorkingDirectory=/home/tufao/repos/gateway_pi
VIRTUAL_ENV=/home/tufao/repos/gateway_pi/virtual/
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/home/tufao/repos/gateway_pi/virtual/bin/python /home/tufao/repos/gateway_pi/main.py

[Install]
WantedBy=multi-user.target